
.pypirc
.vscode-test
*.spec
.coverage.*
.pdm-python
.eggs/
*.manifest
cover/
nosetests.xml
celerybeat-schedule
.ruff_cache/
.grunt
.yarn-integrity
*.cover
.env.local
.mypy_cache/
.node_repl_history
env/
pip-delete-this-directory.txt
lerna-debug.log*
.npm
share/python-wheels/
dist
*.log
*.pot
.ropeproject
local_settings.py
*.lcov
dmypy.json
.dynamodb/
*.egg
.yarn/install-state.gz
cython_debug/
.pnpm-debug.log*
node_modules/
build/Release
*.tsbuildinfo
.spyproject
out
ENV/
.dmypy.json
.cache/
.nox/
target/
*.tgz
lib64/
coverage.xml
docs/_build/
.nyc_output
celerybeat.pid
.env.production.local
logs
.fusebox/
*.egg-info/
htmlcov/
yarn-error.log*
*.mo
.rts2_cache_es/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
var/
.rpt2_cache/
.hypothesis/
*.py,cover
bower_components
pids
.pdm-build/
*.so
*.pid.lock
coverage
.cursorignore
__pypackages__/
.env.test.local
.temp
.vuepress/dist
.Python
build/
.yarn/cache
.eslintcache
jspm_packages/
.abstra/
.venv
develop-eggs/
.spyderproject
db.sqlite3-journal
.env
.ipynb_checkpoints
.pytype/
.pnp.*
**/.vitepress/cache
**/.vitepress/dist
venv/
.lock-wscript
.nuxt
.docusaurus
.coverage
.webassets-cache
*$py.class
.rts2_cache_cjs/
.tern-port
yarn-debug.log*
__pycache__/
.cursorindexingignore
profile_default/
.pyre/
.rts2_cache_umd/
dist/
ipython_config.py
.cache
*.pid
.parcel-cache
.env.development.local
.pybuilder/
.pytest_cache/
.tox/
db.sqlite3
*.seed
.installed.cfg
*.py[cod]
wheels/
lib-cov
venv.bak/
pip-log.txt
MANIFEST
.next
web_modules/
npm-debug.log*
*.sage.py
.serverless/
env.bak/
parts/
eggs/
instance/
.yarn/unplugged
.yarn/build-state.yml
.scrapy
downloads/
/site
.pdm.toml
sdist/
.stylelintcache
lib/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node` for https://github.com/Sarverott/the-embassy.git with  [UNIXUSAT=1748566641365]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
